<!DOCTYPE html>
<html>
<head>
  <base href='/Areas/Pages/Application/code/' />
  <meta charset="utf-8" />
  <title>Scanner</title>
  @Styles.Render("~/Packages/Styles")
  @RenderSection("Styles", false)
</head>
<body>
  @RenderBody()
  @Scripts.Render("~/Packages/Scripts")
  @RenderSection("Scripts", false)
</body>
</html>
